<div class="container">
<div class="page-content">
  <p>Latest data as of Dec 22, 2016 12:48am. Data is refreshed after 12:00 midnight.</p>
  <div class="data-section">
    <div class="data-section-pad">      
      <div class="flex-data-display">
        <h2 class="data-num inline">
          <span class="percent-30">1.27%</span>
          <div class="data-sub-label">
            Conversion Rate
          </div>
          <a data-modal class="show-more">Show 1 week trend</a>
        </h2>
        <h2 class="data-num inline">
          <span class="percent-50">8.7%</span>
          <div class="data-sub-label">
            Checkout page exit rate
          </div>
          <a href="" class="show-more">Show 1 week trend</a>
        </h2>
        <h2 class="data-num inline">
          &#8369;3,995.09
          <div class="data-sub-label">
            Average Basket Size
          </div>
          <a class="show-more">Show 1 week trend</a>
        </h2>
        <h2 class="data-num inline">
          <span class="percent-30">65.2%</span>
          <div class="data-sub-label">
            Cart Abandonment
          </div>
          <a class="show-more">Show 1 week trend</a>
        </h2>
      </div>  
    </div>
  </div>  
  <h3>Sessions</h3>
  <div class="data-section">
    <div class="row">
      <div class="day-selector-slide">
        <a><span class="date-month-label">Dec</span> <span class="date-num">9</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">10</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">11</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">12</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">13</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">14</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">15</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">16</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">17</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">18</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">19</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">20</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">21</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">22</span></a>
      </div>
    </div>
    <div class="data-section-pad">
      <div class="row">
        <h2 class="data-num">
          9,315
          <div class="data-sub-label">
            All Sessions
          </div>
        </h2>
        <div class="flex-data-display">
          <h3 class="data-num inline">
            3,365
            <div class="data-sub-label">
              Email
            </div>
          </h3>
          <h3 class="data-num inline">
            3,327
            <div class="data-sub-label">
              Organic
            </div>
          </h3>
          <h3 class="data-num inline">
            2,125
            <div class="data-sub-label">
              Direct
            </div>
          </h3>
          <h3 class="data-num inline">
            376
            <div class="data-sub-label">
              Social
            </div>
          </h3>  
        </div>
      </div>
      <div class="row">
        
        <canvas id="mySessions"></canvas>
        
      </div>
    </div>
  </div>


  <h3>Gross Revenue</h3>
  <div class="data-section">
    <div class="row">
      <div class="day-selector-slide">
        <a><span class="date-month-label">Dec</span> <span class="date-num">9</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">10</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">11</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">12</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">13</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">14</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">15</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">16</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">17</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">18</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">19</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">20</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">21</span></a>
        <a><span class="date-month-label">Dec</span> <span class="date-num">22</span></a>
      </div>
    </div>
    <div class="data-section-pad clearfix">
      <div class="columns eight">
        <h2 class="data-num">        
          591,274
          <div class="data-sub-label">
            Weekly Gross Revenue in PHP
          </div>
        </h2>
        <div class="flex-data-display">
          <h3 class="data-num inline">
            249,695
            <div class="data-sub-label">
              Hotels
              <h5 class="light text-valid">+3.2%</h5>
            </div>
          </h3>
          <h3 class="data-num inline">
            184,320
            <div class="data-sub-label">
              Getaways
              <h5 class="light text-error">-12.45%</h5>
            </div>
          </h3>
          <h3 class="data-num inline">
            107,143
            <div class="data-sub-label">
              Beauty
              <h5 class="light text-error">-1.13%</h5>
            </div>
          </h3>
          <h3 class="data-num inline">
            50,116
            <div class="data-sub-label">
              Dining
              <h5 class="light text-valid">+0.13%</h5>
            </div>
          </h3>  
        </div>

        <h2 class="data-num">        
          <span class=" text-valid">+3.53%</span>
          <div class="data-sub-label">
            Overall increase from previous week
          </div>
        </h2>
      </div>

      <div class="columns four">
        <canvas id="myRevenue" width="100%"></canvas>
      </div>  
    </div>
  </div>

  
  <div class="clearfix">
    
    <div class="columns six">
      <h3>Repeat Purchase Rate past 6 months</h3>
      <div class="data-section">
        <div class="data-section-pad">
          <h2 class="data-num">        
            13.32%
            <div class="small small-label">
              Customers who bought more than once over the total customers within the past 6 months.
            </div>
          </h2>
          <div class="percentage-bar">
            <div class="progress" style="width: 13.32%"></div>
          </div>


          <h3 class="data-num inline">
            17,239
            <div class="data-sub-label">
              Bought more than once
            </div>
          </h3>  
          <h3 class="data-num inline">
            129,356
            <div class="data-sub-label">
              Total Customers
            </div>
          </h3>
          
        </div>

      </div>
      
    </div>
    <div class="columns five">
      <h3>Average transactions past 6 months</h3>
      <div class="data-section">
        <div class="data-section-pad">
          <h2 class="pf-title  text-center">
            3.1
          </h2>
          <div class="small">
            This is the average number of transactions of a customer that have shopped more than once for the past 6 months.
          </div>
        </div>
      </div>
      
    </div>
  </div>


</div>

</div>