<div class="page-content top-12-deals clearfix" >
  <div class="container">
    <h3>Top 12 Deals This Week</h3>
    <ul class="subnav-list">
      <li><a class="is_selected" href="">All Categories</a></li>
      <li><a href="">Hotels</a></li>
      <li><a href="">Getaways</a></li>
      <li><a href="">Beauty &amp; Fitness</a></li>
      <li><a href="">Dining</a></li>
    </ul>
    <div class="row">
      <div class="columns four">
        <div class="filter">
          <label class="filter-label">Sort by</label>
          <a class="filter-pill is-selected">Revenue</a>
          <a class="filter-pill">Coupon Count</a>
        </div>  
      </div>
      <div class="columns six">
        <div class="filter">
          <label class="filter-label">Filter by</label>
          <a class="filter-pill is-selected">All Devices</a>
          <a class="filter-pill">Desktop</a>
          <a class="filter-pill">Mobile</a>
          <a class="filter-pill">iOS</a>
        </div>  
      </div>
    </div>
    
    <div class="data-tiles">
      <div class="row">
        <div class="columns three">
          <div class="ui-tile" data-modal>
            <div class="ui-tile-img">
              <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/57beb0cdc8e7d03822000006/cover-2016-08-25.jpg" alt="">    
            </div>
            <div class="ui-tile-title">
              <h3 class="small">
                12 Heavenly Mini Cakes by Chef Buddy Trinidad (New Flavors!)
              </h3>
              
              <strong class="small">Park Avenue Desserts</strong>
              <div class="tile-data">
                <ul>
                  <li>
                    <span class="tile-data-label">Revenue</span>
                    <span class="tile-data-val">&#8369;77,000</span>
                    <span class="middot">&middot;</span> 
                    <span class="text-error">-10.3%</span></span>
                  </li>
                  <li>
                    <span class="tile-data-label">Coupons Sold</span>
                    <span class="tile-data-val">74 <span class="middot">&middot;</span>  59 left</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="columns three">
          <div class="ui-tile">
            <div class="ui-tile-img">
              <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/582d36ddd1b7ea02c0000081/cover-2016-11-17.jpg" alt="">    
            </div>
            <div class="ui-tile-title">
              <h3 class="small">
                Café Ilang-Ilang Dinner Buffet for 4 (Sunday-Wednesday)
              </h3>
              
              <strong class="small">The Manila Hotel</strong>
              <div class="tile-data">
                <ul>
                  <li>
                    <span class="tile-data-label">Revenue</span>
                    <span class="tile-data-val">&#8369;50,700</span>
                    <span class="middot">&middot;</span> 
                    <span class="text-valid">+5.2%</span></span>
                  </li>
                  <li>
                    <span class="tile-data-label">Coupons Sold</span>
                    <span class="tile-data-val">125 <span class="middot">&middot;</span> 112 left</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="columns three">
          <div class="ui-tile">
            <div class="ui-tile-img">
              <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/583fc9a0d1b7ea1fa0000077/cover-2016-12-01.jpg" alt="">    
            </div>
            <div class="ui-tile-title">
              <h3 class="small">
                P300 Worth of Scrumptious Café Food & Drinks
              </h3>
              
              <strong class="small">Where's Marcel</strong>
              <div class="tile-data">
                <ul>
                  <li>
                    <span class="tile-data-label">Revenue</span>
                    <span class="tile-data-val">&#8369;49,500 </span>
                    <span class="middot">&middot;</span> 
                    <span class="text-valid small">+2.2%</span>
                  </li>
                  <li>
                    <span class="tile-data-label">Coupons Sold</span>
                    <span class="tile-data-val">527 <span class="middot">&middot;</span> 12 left</span>
                  </li>
                  
                </ul>
              </div>

            </div>
          </div>
        </div>

        <div class="columns three">
          <div class="ui-tile">
            <div class="ui-tile-img">
              <img src="https://dxjamgtjhgl48.cloudfront.net/uploads/cover_photo/image/5810545fd1b7ea2eb5000045/cover-2016-10-26.jpg" alt="">    
            </div>
            <div class="ui-tile-title">
              <h3 class="small">
                90-Minute Traditional Combination (Swedish & Shiatsu) Massage
              </h3>
              
              <strong class="small">Temple Garden Spa</strong>
              <div class="tile-data">
                <ul>
                  <li>
                    <span class="tile-data-label">Revenue</span>
                    <span class="tile-data-val">&#8369;28,855</span>
                    <span class="middot">&middot;</span> 
                    <span class="text-valid">+0.2%</span></span>
                  </li>
                  <li>
                    <span class="tile-data-label">Coupons Sold</span>
                    <span class="tile-data-val">794 <span class="middot">&middot;</span> 2 left</span>
                  </li>
                </ul>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>  
</div>